.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: var(--background);

  display: none;

  justify-content: center;
  align-items: center;
  flex-direction: column;

  z-index: 9999;
}

.loader-cloud {
  width: 90px;
  height: 90px;

  border-radius: 50%;
  background: var(--primary);

  animation: bounce 1.5s ease-in-out infinite;
}

.loading-screen h2 {
  margin-top: 20px;
  color: var(--text);
}

.loading-screen p {
  color: var(--text-light);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}
