<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>THIS IS WEATHER APP </h1>
    <form action="/submit" method="POST">
        <div class="mb-5">

        


            <label for="city" class="form-label">enter any city</label>
            <input type="text" class="form-control" name="city" >
            <div id="emailHelp" class="form-text">this provides details of temperature humidity etc.</div>
        </div>
      
        <button type="submit" class="btn btn-primary">Submit</button>
        
    </form>
</body>

</html>