<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WEATHER APP | FLASK</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <div class="container">
      <div class="weather-card">
        <h1 class="heading">WEATHER APP</h1>
        <form action="/submit" method="POST" class="weather-form">
          <label for="city" class="city-label">Enter Any City Name:</label>

          <input
            type="text"
            name="city"
            id="city"
            class="input-box"
            placeholder="eg: hyderabad"
            required
          />

          <p class="helper-text">Get Temperature humidity and conditions.</p>

          <button type="submit" class="search-btn">Search Weather</button>
        </form>
      </div>
    </div>
  </body>
</html>
